<body style="margin-top: 50px;">

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">

            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Name</label>
                    <input type="name" [(ngModel)]="name" name="name" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email</label>
                    <input type="email" [(ngModel)]="email" name="email" class="form-control" id="exampleFormControlInput2">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Address</label>
                    <input type="address" [(ngModel)]="address" name="address" class="form-control" id="exampleFormControlInput3">
                </div>
                <button type="button" (click)="add_member()" class="btn btn-success">Add Member</button>

            </form>

        </div>
        <div class="col-3"></div>
    </div><br><br>

    <div *ngFor="let item of allMember">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3">

                <h6>{{ item.name }}</h6>
                <input type="text" [(ngModel)]="edit_name" name="name">
                <h6>{{ item.email }}</h6>
                <h6>{{ item.address }}</h6><br>
                <button type="button" (click)="delete_member(item._id)" class="btn btn-danger">Delete</button>
                <button type="button" (click)="edit_member(item._id)" class="btn btn-primary">Edit</button>

            </div>
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div><br><br>
       

    </div>



</body>